<div class="p-5 col-6 w-100">
  <form action="answer" data-turbo="false" class="w-50 mx-auto">
    <input type="text" name="answer" class="form-control w-100 shadow-none">
    <input type="submit" value="Ask!" class="btn btn-primary form-control my-3">
  </form>
</div>
